<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>COMP-UI | Home</title>
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <p class="h2 wh-text">COMP-UI</p>
        </a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a class="nav-link wh-text" href="index.html">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link active wh-text" href="index.html">Docs</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link wh-text" href="#">Connect</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link wh-text" href="#">Installation</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="c-head text-center">Image <span class="col-ch">Components</span></h1>
    <h2 class="sub-head text-center">Round and <span class="col-ch">Curved Images</span></h2>

    <div class="comp-container comp-flex">
        <div class="img-flex">
            <img class="circle-img img-sm" src="../../assets/av-sm.jpg" alt="">
            <img class="img-curve img-sm" src="../../assets/av-sm.jpg" alt="">
            <img class="circle-img img-lg" src="../../assets/av-sm.jpg" alt="">
            <img class="img-curve img-lg" src="../../assets/av-sm.jpg" alt="">
        </div>
    </div>
    <h2 class="text-center">Code <span class="col-ch">Snippet</span></h2>

    <div class="text-center">
        <iframe src="https://carbon.now.sh/embed?bg=rgba%28120%2C87%2C254%2C1%29&t=twilight&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522circle-img%2520img-sm%2522%2520src%253D%2522av-sm.jpg%2522%2520alt%253D%2522%2522%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cimg%2520class%253D%2522img-curve%2520img-sm%2522%2520src%253D%2522av-sm.jpg%2522%2520alt%253D%2522%2522%253E%250A%253Cimg%2520class%253D%2522circle-img%2520img-lg%2522%2520src%253D%2522av-sm.jpg%2522%2520alt%253D%2522%2522%253E%250A%253Cimg%2520class%253D%2522img-curve%2520img-lg%2522%2520src%253D%2522av-sm.jpg%2522%2520alt%253D%2522%2522%253E"
            style="width: 962px; height: 255px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

    <h1 class="text-center">Responsive <span class="col-ch">Image</span></h1>
    <div class="comp-container comp-flex bg-ch">
        <div class="img-flex">
            <img class="img-responsive" src="../../assets/demon.jpg" alt="">
        </div>
    </div>
    <h2 class="text-center">Code <span class="col-ch">Snippet</span></h2>
    <div class="text-center">
        <iframe src="https://carbon.now.sh/embed?bg=rgba%28120%2C87%2C254%2C1%29&t=twilight&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522demon.jpg%2522%2520alt%253D%2522%2522%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
            style="width: 1024px; height: 213px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

    <footer class="footer" id="footer">
        <h1 class="c-head text-center">Contact Me</h1>
        <div class="contact">
            <div class="row2">
                <div class="card">
                    <div class="contact-icon">
                        <a class="contact-link" href="mailto:princesuryansh2000@gmail.com" target="_blank"><i
                                class="fa fa-envelope"></i></a>
                    </div>
                    <div class="data text-center">
                        <h3><a class="contact-link" href="mailto:princesuryansh2000@gmail.com" target="_blank">Email</a>
                        </h3>
                        <span class="span">princesuryansh2000@gmail.com</span>
                    </div>
                </div>
                <div class="card">
                    <div class="contact-icon">
                        <a class="contact-link" href="https://www.linkedin.com/in/suryansh-shukla-21b6a9194/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="data text-center">
                        <h3><a class="contact-link" href="https://www.linkedin.com/in/suryansh-shukla-21b6a9194/" target="_blank">LinkedIn</a></h3>
                        <span class="span">Suryansh Shukla</span>
                    </div>
                </div>
                <div class="card">
                    <div class="contact-icon">
                        <a class="contact-link" href="https://github.com/amnsuryansh" target="_blank"><i
                                class="fa fa-github"></i></a>
                    </div>
                    <div class="data text-center">
                        <h3><a class="contact-link" href="https://github.com/amnsuryansh" target="_blank">Github</a>
                        </h3>
                        <span class="span">amnsuryansh</span>
                    </div>
                </div>
                <div class="card">
                    <div class="contact-icon">
                        <a class="contact-link" href="https://twitter.com/suryansh291" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                    </div>
                    <div class="data text-center">
                        <h3><a class="contact-link" href="https://twitter.com/suryansh291" target="_blank">Twitter</a>
                        </h3>
                        <span class="span">@suryansh291</span>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="f-h2 text-center">Designed and Built by <span class="f-name">Suryansh Shukla 🖤 </span></h2>
    </footer>
</body>

</html>